 


  /**  For Charts related style */
.outerContainers{
  width: 100%;
}
#containerdivs { 
    
  position:relative;
  display: table;
  clear:both;
}
 #wrapperchart {
  width:700px;
  clear:both;
}
#containerLeft {
  background-color:white;
  min-width: 250px;
  max-width: 270px;
  height: 100%;
  float:left;
  position:relative;
}
#containerRight {
 background-color:white;
  min-width: 250px;
  float:left;
  position:relative;
}
#containerBottom {
  background-color:#bada55;
  min-width: 250px;
  float:bottom;
  position:relative;
}

#containerFooter {
  background-color:#bada55;
  min-width: 250px; 
  position:relative;
}

 
